<div class="left-sidebar">
    <!-- left sidebar HEADER -->
    <div class="left-sidebar-header">
        <div class="left-sidebar-title">Navigation</div>
        <div class="left-sidebar-toggle c-hamburger c-hamburger--htla hidden-xs"
             data-toggle-class="left-sidebar-collapsed" data-target="html">
            <span></span>
        </div>
    </div>
    <!-- NAVIGATION -->
    <!-- ========================================================= -->
    <div id="left-nav" class="nano">
        <div class="nano-content">
            <nav>
                <ul class="nav nav-left-lines" id="main-nav">
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-folder-open" aria-hidden="true"></i><span>Cours</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('admin_cours_index') }}">Liste de cours</a></li>
                            <li><a href="{{ path('admin_cours_new') }}">Ajouter un cours</a></li>
                        </ul>
                    </li>

                    <li class="has-child-item close-item">
                        <a><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>Semestres</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('admin_semestre_index') }}">Liste des Semestres</a></li>
                            <li><a href="{{ path('admin_semestre_new') }}">Ajouter semestre</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>