<!--====== FOOTER PART START ======-->

<footer id="footer-part">
    <div class="footer-top pt-40 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-about mt-40">
                        <p>Gravida nibh vel velit auctor aliquetn quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
                        <ul class="mt-20">
                            <li><a href="https://facebook.com/anas.moutia.10"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/anas-moutia-62294622/?originalSubdomain=ma"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div> <!-- footer about -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-link mt-40">
                        <div class="footer-title  pb-25">
                            <h6>Navigation</h6>
                        </div>
                        <ul>
                            <li><a href="index.html"><i class="fa fa-angle-right"></i>Accueil</a></li>
                            <li><a href="about.html"><i class="fa fa-angle-right"></i>Biographie</a></li>
                            <li><a href="courses.html"><i class="fa fa-angle-right"></i>Courses</a></li>

                        </ul>
                        <ul>
                            <li><a href="blog.html"><i class="fa fa-angle-right"></i>Activités</a></li>
                            <li><a href="events.html"><i class="fa fa-angle-right"></i>Articles</a></li>
                            <li><a href="contact.html"><i class="fa fa-angle-right"></i>Blogs</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-address mt-40">
                        <div class="footer-title pb-25">
                            <h6>Contact</h6>
                        </div>
                        <ul>

                            <li>
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="cont">
                                    <p>+212663-694400</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="cont">
                                    <p>anas.moutia@gmail.com</p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- footer address -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer top -->

    <div class="footer-copyright pt-10 pb-25">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright text-md-left text-center pt-15">
                        <p>&copy; Copyrights 2022 DR. Anas Moutia Tous les droits sont réservés. </p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
</footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TO TP PART START ======-->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--====== BACK TO TP PART ENDS ======-->