{% extends 'frontend/layouts/base.html.twig' %}
{% set page="actscientifique" %}
{% block content %}
    <section id="page-banner" class="pt-40 pb-15 bg_cover" data-overlay="8"
             style="background-image: url({{ asset('frontend/images/page-banner-1.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Activités scientifique</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Activités scientifique</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <div class="col-lg-12">
        <div class="teachers-right mt-50">
            <h4 class="text-center">
                Participation à colloques nationaux et internationaux
            </h4>
            <!-- nav -->
            <div class="tab-content" id="myTabContent">
                <div>
                    <div class="dashboard-cont">
                        <div class="single-dashboard pt-40">
                            <h5> Communications scientifiques </h5>
                            <h6>2017</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> « Résilience touristique et communication de crise: quel liens de parentés ?» </b>Colloque
                                international, « Risques, résilience et pérennité des destinations touristiques : une
                                perspective internationale » Essaouïra, les 03 et 04 mai 2017.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> « L’enseignement des Compétences managériales à l’Université marocaine et
                                    intégration
                                    professionnelle »</b> journée de réflexion sur l’entrepreneuriat. Essaouira,
                                Mercredi 20
                                décembre 2017.
                            </p>
                            <h6>2018</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> « Quel impact de la communication publique territoriale sur l’émergence des
                                    territoires ? Cas du contexte marocain ».</b> Colloque international, « Gouvernance
                                et
                                Branding » des territoires touristiques », Université International d’Agadir, du 26 au
                                28 Mars 2018.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> « Quel statut du désignant événementiel dans l'écriture journalistique en période de
                                    crise ? » </b>Conférence internationale : Formes discursives. Interactions,
                                narrations,
                                représentations », Bacău, Roumanie : 25-26 mai 2018.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i><b>« Communication interculturelle et
                                    politique d’intégration des nouveaux
                                    immigrants africain au Maroc »</b> , 5 Edition de la journée culturelle malienne de
                                Marrakech
                                2018. 25 Mars 2018.</p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i><b>« Le Plan d'action national en
                                    matière de démocratie et des droits de
                                    l'Homme sous l’angle de l’analyse du contenu »</b> , le : 27 Octobre 2018 au
                                complexe
                                culturel, Abou El Kacem Zayani Khénifra , dans le cadre d’un projet sur : « Le Plan
                                d'action national en matière de démocratie et des droits de l'Homme »• « Le Plan
                                d'action national en matière de démocratie et des droits de l'Homme sous l’angle de
                                l’analyse du contenu », le : 27 Octobre 2018 au complexe culturel, Abou El Kacem Zayani
                                Khénifra , dans le cadre d’un projet sur : « Le Plan d'action national en matière de
                                démocratie et des droits de l'Homme ».</p>
                            <h6>2019</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> « Techniques de la méthodologie de recherche : de la problématique aux questions
                                    de recherche » </b>, Journée d’étude organisée par l’Ecole Normale supérieure, le
                                15/03/2019.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> « Quel impact de la communication inter-acteurs sur la compétitivité d’un territoire
                                    » </b>. Journée d’étude sur « Le Patrimoine et territoire : identités et enjeux
                                civilisationnels » organisé le 19 octobre 2019 à la FLSH-Cadi Ayyad à Marrakech.
                            </p>
                            <h6>2020</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> Quel cadrage temporel des événements du 20 février ? Essai de réflexion sous l’angle
                                    de l’interaction tensionnelle entre le temps de l’événement et le temps
                                    médiatique </b>>
                                Cinquième édition du colloque international pluridisciplinaire d’Agadir :
                                Métamorphoses de l’action citoyenne. Bilan d’une décennie de recherche sur les
                                réseaux numériques. du 31 mars au 1ier avril 2021, Agadir, Maroc.
                            </p>
                            <h6>2021</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> Les pratiques d’évaluation des professeurs de « Langue et communication » dans les
                                    filières scientifiques et techniques. Cas de l’Université Cadi Ayyad de Marrakech./
                                    Maroc.</b> Colloque international : « La linguistique à la croisée des sciences ».
                                Le
                                11-12 mars 2021à la Faculté de Langue Arabe.UCA Marrakech.
                            </p>
                        </div>
                        <!-- single dashboard -->
                    </div>
                    <!-- dashboard cont -->
                </div>
            </div>
            <!-- tab content -->
        </div>
        <div class="teachers-right mt-20">
            <h4 class="text-center">
                Organisation des journées d’études, séminaires, conférences, colloques ou congrès
            </h4>
            <!-- nav -->
            <div class="tab-content" id="myTabContent">
                <div>
                    <div class="dashboard-cont">
                        <div class="single-dashboard pt-40">
                            <h6>2017</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Membre du comité scientifique de <b>la 1ère conférence sur le tourisme et
                                    l'innovation qui s’est tenue à Essaouira le 23 et 24 Novembre 2017.</b>
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Encadrant d’un atelier dans le cadre des Portes ouverte 2017, Ecole supérieure de
                                Technologie Essaouira. UCAM.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Membre du jury dans le cadre d’ une journée de réflexion sur l’entrepreneuriat.
                                Essaouira, Mercredi 20 décembre 2017.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Membre du jury dans le cadre de la 7 Edition de la compétition en programmation « Spring
                                Coding Days, Entrepreneuriat et Innovation Numérique.
                            </p>
                            <h6>2018</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Modérateur dans le cadre du Colloque international sur la recherche en tourisme :
                                Repenser le tourisme à l’ère des réseaux sociaux. Essaouira les 25-26 Avril 2018.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Coordinateur de la 1 Journée de réflexion sur « le Marketing territorial » dans le cadre
                                du Master « politiques urbaines et ingénierie territoriale ». 18 février 2018.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>Coordinateur du séminaire spécialisé
                                Sur « La communication publique »
                                Sous le thème « La Communication publique et efficiences des politiques territoriales :
                                Quelles pratiques pour quels enjeux ? » Le 27 Avril 2018.</p>

                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>Modérateur de la session «Tourisme et
                                dynamiques des acteurs à l’ «ère des
                                réseaux sociaux » dans le cadre de 3Colloque International sur la recherche en Tourisme,
                                qui s’est tenu le 25-26 Avril 2018 sous le thème <b> « Repenser le tourisme à l'ère des
                                    réseaux sociaux »</b>. Ecole Supérieure de Technologie /Université Cadi Ayyad.</p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>Coordinateur d’une journée de
                                réflexion sur <b>« Les stratégies du marketing
                                    territorial » </b> en collaboration avec la Maison de l’Elu/ Région de
                                Marrakech-Safi, le 10
                                février 2018.</p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>Coordinateur d’une journée de
                                réflexion sur <b>« Les stratégies du marketing
                                    territorial »</b> en collaboration avec la Maison de l’Elu/ Région de
                                Marrakech-Safi, le 20
                                Décembre 2019</p>
                            <h6>2019</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                <b> « Techniques de la méthodologie de recherche : de la problématique aux questions
                                    de recherche » </b>, Journée d’étude organisée par l’Ecole Normale supérieure, le
                                15/03/2019.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Coordination des cycles de conférences à l’Ecole Normale Supérieure de
                                Marrakech-UCAM.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>Coordination des conférences dans le
                                cadre du module « langue et culture
                                »</p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>Membre du comité d’organisation du
                                colloque international sur « la femme
                                et le cinéma » organisé les 6-7 Décembre à la faculté des lettres et sciences
                                humaines .</p>
                            <h6>2021</h6>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Coordinateur du colloque international <b> « langues en contextes professionnel : quel
                                    rôle de l’université ?» </b>Le 15-03-2022
                            </p>
                        </div>
                        <!-- single dashboard -->
                    </div>
                    <!-- dashboard cont -->
                </div>
            </div>
            <!-- tab content -->
        </div>
        <div class="teachers-right mt-20">
            <h4 class="text-center">
                Publications
            </h4>
            <!-- nav -->
            <div class="tab-content" id="myTabContent">
                <div>
                    <div class="dashboard-cont">
                        <div class="single-dashboard pt-40">
                            <h5> Publications en Analyse du discours et communication </h5>

                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>Le « 20 février » : Exemple d’un
                                désignant événementiel, Revue Sciences, Langage et Communication Volume 1, N°2 (2016).
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Quel statut du désignant événementiel dans les périodes de crise ? Cas des désignants «
                                Hirak » et « Evénements d’Alhouceima – Revue Interdisciplinaire , Vol. 2, No 2 (2018).
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Quel cadrage temporel des événements du 20 février ? Essai de réflexion sous l’angle de
                                l’interaction tensionnelle entre le temps de l’événement et le temps médiatique.Chapitre
                                d’un ouvrage collectif intitulé « Métamorphoses de l’action citoyenne. Bilan d’une
                                décennie de recherche sur les réseaux numériques. publiéle en 2021.
                                Comment communiquer en période de crise ? Retour réflexif sur le fonctionnement de la
                                communication lors du Printemps arabe: cas égyptien et marocain » Libération , publié le
                                Vendredi 8 Février 2013 <a target="_blank"
                                                           href="http://www.libe.ma/Comment-communiquer-en-periode-de-crise_a34970.html">
                                    www.libe.ma/comment-communiquer</a>.

                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Quelle gestion de la crise du boycott par le groupe « Centrale Danone »/filiale
                                marocaine ? Analyse critique sous l’angle de la communication de crise. Revue
                                Interdisciplinaire, Vol. 3 No 1 (2018).
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>La médiatisation en urgence : cas du
                                traitement médiatique de la crise de Covid-19 par la chaine France.24. Revue
                                scientifique des Sciences du Langage, Lettres, Langues & Communication, N2, volume
                                4-septembre 2021.</p>
                            <h5 class="mt-4"> Publications dans le domaine de la « pédagogique universitaire » </h5>

                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>L’enseignement des Soft Skills à
                                l’Université marocaine et intégration professionnelle : Etats des lieux et contraintes
                                d’opérationnalisation.. Revue de la faculté des lettres et sciences humaines /
                                Université Cadi Ayyad 2018.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                Les pratiques d’évaluation des professeurs de « langue et communication » dans les
                                filières scientifiques et techniques. Cas de l’Université cadi ayyad de Marrakech./
                                Maroc. Revue Linguistique et Référentiels Interculturels, volume 2, n° 1, Juin 2021.
                            </p>
                            <p class="mb-2"><i class="fa fa-minus pl-4 mr-2"> </i>
                                La reconfiguration du triangle pédagogique dans l’enseignement du module de «
                                Communication Professionnelle » pendant la pandémie de Covid -19 .Cas des étudiants de
                                la Licence professionnelle-Option PC ENS-UCAM. Revue internationale des Sciences du
                                Langage, de Didactique et de Littérature Volume (2) Numéro (1) / Juillet (2021),
                                pp.120-137.
                            </p>

                        </div>
                        <!-- single dashboard -->
                    </div>
                    <!-- dashboard cont -->
                </div>
            </div>
            <!-- tab content -->
        </div>

        <!-- teachers right -->
    </div>


{% endblock %}