{% extends 'frontend/layouts/base.html.twig' %}
{% set page="actscientifique" %}
{% block content %}
    <section id="page-banner" class="pt-40 pb-15 bg_cover" data-overlay="8" style="background-image: url({{asset('frontend/images/page-banner-1.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Activités scientifique</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Activités scientifique</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <div class="col-lg-12">
        <div class="teachers-right mt-50">
                <h2 class="text-center">
                   Participation à  colloques nationaux et internationaux
                </h2>
            <!-- nav -->
            <div class="tab-content" id="myTabContent">
                <div>
                    <div class="dashboard-cont">
                        <div class="single-dashboard pt-40">
                            <h5> Communications scientifiques </h5>
                            <h6>2017</h6>
                            <ul>
                                <li class="ml-5"> « Résilience touristique et communication de crise: quel liens de parentés ?»   Colloque international, « Risques, résilience et pérennité des destinations touristiques : une perspective internationale » Essaouïra, les 03 et 04 mai 2017.</li>
                            </ul>
                            <p>
                                Lorem ipsum gravida nibh vel velit auctor aliquetn
                                sollicitudirem quibibendum auci elit cons equat ipsutis
                                sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                cursus a sit amet mauris. Morbi accumsan ipsum velit.
                                Nam nec tellus .
                            </p>
                            <h6 class="mt-2">2017</h6>
                            <ul>
                                <li class="ml-5"> « Résilience touristique et communication de crise: quel liens de parentés ?»   Colloque international, « Risques, résilience et pérennité des destinations touristiques : une perspective internationale » Essaouïra, les 03 et 04 mai 2017.</li>
                            </ul>
                            <p>
                                Lorem ipsum gravida nibh vel velit auctor aliquetn
                                sollicitudirem quibibendum auci elit cons equat ipsutis
                                sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                cursus a sit amet mauris. Morbi accumsan ipsum velit.
                                Nam nec tellus .
                            </p>
                        </div>
                        <!-- single dashboard -->
                    </div>
                    <!-- dashboard cont -->
                </div>
            </div>
            <!-- tab content -->
        </div>
        <!-- teachers right -->
    </div>


{% endblock %}