{% extends 'frontend/layouts/base.html.twig' %}
{% set page="bio" %}
{% block content %}
    <section id="page-banner" class="pt-40 pb-15 bg_cover" data-overlay="8" style="background-image: url({{asset('frontend/images/page-banner-1.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Biographie</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Biographie</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <section id="teachers-single" class="pt-70 pb-120 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="teachers-left mt-10">
                        <div class="hero">
                            <img src="{{ asset('frontend/images/about/profile.jpg') }}" alt="Profile">
                        </div>
                        <div class="name">
                            <h6>DR. Anas Moutia</h6>
                            <span>Enseignant chercheur à l'Université cadi Ayyad</span>
                            <span>Spécialité : Analyse du discours -Linguistique</span>
                        </div>
                        <div class="social">
                            <ul>
                                <li><a href="https://facebook.com/anas.moutia.10"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/anas-moutia-62294622/?originalSubdomain=ma"><i class="fa fa-linkedin-square"></i></a></li>
:q
                            </ul>
                        </div>
                    </div> <!-- teachers left -->
                </div>
                <div class="col-lg-8">
                    <div class="teachers-right mt-10">
                        <div class="tab-content" id="myTabContent">
                                <div class="etude-cont">
                                    <div class="single-etude pt-40">
                                        <h5>DR. Anas Moutia</h5>
                                        <p>Le professeur Anas Moutia est un enseignant chercheur à l’université Cadi Ayyad de Marrakech, spécialisé en Analyse du discours et Sciences de l’information et de communication. Ses axes de recherches portent essentiellement sur l’analyse des crises et événements en générale sous un angle interdisciplinaire associant l’analyse du discours et la théorie de la communication de crise.</p>
                                        </div> <!-- single etude -->
                                </div> <!-- etude cont -->


                        </div> <!-- tab content -->
                    </div> <!-- teachers right -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
{% endblock %}