{% extends 'frontend/layouts/base.html.twig' %}
{% set page="accueil" %}
{% block content %}
    <section id="about-page" class="pt-20 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-15">
                        <h5>A propos de moi</h5>
                        <h2>Pr. Anas Moutia</h2>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <div class="about-event p-0">
                            <ul>
                                <li>
                                    <div class="single-event">
                                        <span>
                                        <a
                                        ><h4>Enseignant chercheur à l'Université Cadi Ayyad</h4></a
                                        ></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-event">
                                        <span>
                                        <a
                                        ><h4>Spécialité : Analyse du discours -Linguistique</h4></a
                                        ></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-event">
                                        <span>
                                        <a
                                        ><h4>FLSH Université Cadi Ayyad</h4></a
                                        ></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-event">
                                        <span><i class="fa fa-envelope"></i>
                                        <a href="mailto:anas.moutia@gmail.com"
                                        ><h4>anas.moutia@gmail.com</h4></a
                                        ></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-event">
                                        <span><i class="fa fa-phone"></i>
                                        <a href="tel:+212663694400"
                                        ><h4>+212663-694400</h4></a
                                        ></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-7">
                    <div class="about-image">
                        <img src="{{ asset('frontend/images/about/profile.jpg') }}" alt="About">
                    </div>  <!-- about image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

{% endblock %}