{% extends 'frontend/layouts/base.html.twig' %}
{% set page="accueil" %}
{% block content %}
    <section id="about-page" class="pt-20 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-15">
                        <h5>A propos de moi</h5>
                        <h2>DR. Anas Moutia</h2>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p>Enseignant chercheur à l'Université Cadi Ayyad</p>
                          <p>  Spécialité : Analyse du discours -Linguistique</p>
                      <p> FLSH Université Cadi Ayyad</p>
                        <h5><a href="mailto:anas.moutia@gmail.com" class="pt-30">anas.moutia@gmail.com</a> </h5>
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-7">
                    <div class="about-image mt-50">
                        <img src="{{ asset('frontend/images/about/profile.jpg') }}" alt="About">
                    </div>  <!-- about image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

{% endblock %}